plugin-debezium-mysql/src/test/resources/sanity-checks/mysql-capture.yaml
id: mysql-capture
namespace: sanitychecks.plugin-debezium-mysql

tasks:
  - id: randomPort
    type: io.kestra.plugin.core.debug.Return
    format: "{{ randomPort() }}"

  - id: start_mysql
    type: io.kestra.plugin.docker.Run
    containerImage: mysql:8.0
    wait: false
    portBindings:
      - "{{ outputs.randomPort.value }}:3306"
    env:
      MYSQL_ROOT_PASSWORD: mysql_passwd
      MYSQL_DATABASE: kestra
    commands:
      - mysqld
      - --user=mysql
      - --server-id=223344
      - --log-bin=mysql-bin
      - --binlog-format=ROW
      - --binlog-row-image=FULL
      - --gtid-mode=ON
      - --enforce-gtid-consistency=ON
      - --binlog-rows-query-log-events=ON
      - --skip-ssl
      - --default-authentication-plugin=mysql_native_password

  - id: sleep
    type: io.kestra.plugin.core.flow.Sleep
    duration: PT30S

  - id: init_mysql
    type: io.kestra.plugin.jdbc.mysql.Queries
    sql: |
      DROP TABLE IF EXISTS capture_events;
      CREATE TABLE capture_events (
        events_id BIGINT AUTO_INCREMENT PRIMARY KEY,
        event_title VARCHAR(256),
        event_description VARCHAR(256)
      );
      INSERT INTO capture_events(event_title, event_description) VALUES
        ('Machine Head','Cool concert'),
        ('Dropkick Murphys','Very cool concert'),
        ('Pink Floyd','Cool'),
        ('TV show','Some TV'),
        ('Nothing','Boring');

  - id: capture
    type: io.kestra.plugin.debezium.mysql.Capture
    serverId: 123456789
    hostname: localhost
    port: "{{ outputs.randomPort.value }}"
    username: root
    password: mysql_passwd
    snapshotMode: INITIAL
    maxRecords: 5
    maxWait: PT30S
    includedTables:
      - kestra.capture_events

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.capture.size >= 5 }}"

finally:
  - id: stop_mysql
    type: io.kestra.plugin.docker.Stop
    containerId: "{{ outputs.start_mysql.taskRunner.containerId }}"
    kill: true

pluginDefaults:
  - type: io.kestra.plugin.jdbc.mysql
    values:
      username: root
      password: mysql_passwd
      url: "jdbc:mysql://localhost:{{ outputs.randomPort.value }}/kestra?allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true"
