plugin-debezium-mysql/src/test/resources/sanity-checks/mysql-capture.yaml
id: mysql-capture
namespace: sanitychecks.plugin-debezium-mysql

tasks:
  - id: start_mysql
    type: io.kestra.plugin.docker.Run
    containerImage: mysql:8.0
    networkMode: host
    wait: false
    env:
      MYSQL_ROOT_PASSWORD: mysql_passwd
      MYSQL_DATABASE: kestra
    commands:
      - --server-id=223344
      - --log-bin=mysql-bin
      - --binlog-format=ROW
      - --binlog-row-image=FULL
      - --gtid-mode=ON
      - --enforce-gtid-consistency=ON
      - --binlog-rows-query-log-events=ON
      - --skip-ssl
      - --default-authentication-plugin=mysql_native_password
      - --port=13306

  - id: init_mysql
    type: io.kestra.plugin.docker.Run
    containerImage: mysql:8.0
    networkMode: host
    entryPoint:
      - /bin/sh
    commands:
      - -c
      - |
        until mysqladmin ping -h 127.0.0.1 -P 13306 -u root -pmysql_passwd --silent 2>/dev/null; do sleep 2; done
        mysql -h 127.0.0.1 -P 13306 -u root -pmysql_passwd kestra -e "DROP TABLE IF EXISTS capture_events;"
        mysql -h 127.0.0.1 -P 13306 -u root -pmysql_passwd kestra -e "CREATE TABLE capture_events (events_id BIGINT AUTO_INCREMENT PRIMARY KEY, event_title VARCHAR(256), event_description VARCHAR(256));"
        mysql -h 127.0.0.1 -P 13306 -u root -pmysql_passwd kestra -e "INSERT INTO capture_events(event_title, event_description) VALUES ('Machine Head','Cool concert'),('Dropkick Murphys','Very cool concert'),('Pink Floyd','Cool'),('TV show','Some TV'),('Nothing','Boring');"

  - id: discover_host
    type: io.kestra.plugin.docker.Run
    containerImage: alpine
    entryPoint:
      - /bin/sh
    commands:
      - -c
      - |
        GATEWAY=$(ip route 2>/dev/null | awk '/default/ {print $3; exit}')
        echo "::set-output name=host::$GATEWAY"

  - id: capture
    type: io.kestra.plugin.debezium.mysql.Capture
    serverId: 123456789
    hostname: "{{ outputs.discover_host.vars.host }}"
    port: "13306"
    username: root
    password: mysql_passwd
    snapshotMode: INITIAL
    maxRecords: 5
    maxWait: PT30S
    includedTables:
      - kestra.capture_events

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.capture.size >= 5 }}"

finally:
  - id: stop_mysql
    type: io.kestra.plugin.docker.Stop
    containerId: "{{ outputs.start_mysql.taskRunner.containerId }}"
    kill: true
