plugin-debezium-mongodb/src/test/resources/sanity-checks/mongodb-capture.yaml
id: mongodb-capture
namespace: sanitychecks.plugin-debezium-mongodb

tasks:
  - id: start_mongodb
    type: io.kestra.plugin.scripts.shell.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    script: |
      docker rm -f mongodb-sanity 2>/dev/null || true
      docker run -d --name mongodb-sanity \
        -e MONGO_INITDB_ROOT_USERNAME=mongo_user \
        -e MONGO_INITDB_ROOT_PASSWORD=mongo_passwd \
        -p 27018:27017 \
        mongo:latest --bind_ip_all --replSet rs0
      until docker exec mongodb-sanity mongosh --quiet --eval "db.adminCommand('ping').ok" 2>/dev/null | grep -q 1; do sleep 2; done
      docker exec mongodb-sanity mongosh -u mongo_user -p mongo_passwd --eval "rs.initiate({_id:'rs0',members:[{_id:0,host:'localhost:27017'}]})"
      until docker exec mongodb-sanity mongosh -u mongo_user -p mongo_passwd --quiet --eval "rs.isMaster().ismaster" 2>/dev/null | grep -q true; do sleep 2; done
      docker exec mongodb-sanity mongosh -u mongo_user -p mongo_passwd kestra --eval "db.events.insertMany([
        {title:'Event 1',description:'Desc 1'},
        {title:'Event 2',description:'Desc 2'},
        {title:'Event 3',description:'Desc 3'},
        {title:'Event 4',description:'Desc 4'},
        {title:'Event 5',description:'Desc 5'},
        {title:'Event 6',description:'Desc 6'},
        {title:'Event 7',description:'Desc 7'},
        {title:'Event 8',description:'Desc 8'},
        {title:'Event 9',description:'Desc 9'},
        {title:'Event 10',description:'Desc 10'},
        {title:'Event 11',description:'Desc 11'},
        {title:'Event 12',description:'Desc 12'},
        {title:'Event 13',description:'Desc 13'},
        {title:'Event 14',description:'Desc 14'},
        {title:'Event 15',description:'Desc 15'},
        {title:'Event 16',description:'Desc 16'},
        {title:'Event 17',description:'Desc 17'},
        {title:'Event 18',description:'Desc 18'},
        {title:'Event 19',description:'Desc 19'},
        {title:'Event 20',description:'Desc 20'}
      ])"

  - id: capture
    type: io.kestra.plugin.debezium.mongodb.Capture
    connectionString: mongodb://mongo_user:mongo_passwd@127.0.0.1:27018/?replicaSet=rs0
    snapshotMode: INITIAL
    maxRecords: 20
    maxWait: PT30S

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.capture.size >= 20 }}"

  - id: stop_mongodb
    type: io.kestra.plugin.scripts.shell.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    script: |
      docker rm -f mongodb-sanity 2>/dev/null || true

errors:
  - id: stop_mongodb_on_error
    type: io.kestra.plugin.scripts.shell.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    script: |
      docker rm -f mongodb-sanity 2>/dev/null || true
