plugin-debezium-sqlserver/src/test/resources/sanity-checks/sqlserver-capture.yaml
id: sqlserver-capture
namespace: sanitychecks.plugin-debezium-sqlserver

tasks:
  - id: port
    type: io.kestra.plugin.core.debug.Return
    format: "{{ randomPort() }}"

  - id: start_sqlserver
    type: io.kestra.plugin.docker.Run
    containerImage: mcr.microsoft.com/mssql/server:2022-latest
    wait: false
    portBindings:
      - "{{ outputs.port.value }}:1433"
    env:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Sqls3rv3r_Pa55word!"
      MSSQL_PID: "Express"

  - id: sleep
    type: io.kestra.plugin.core.flow.Sleep
    duration: PT20S

  - id: init_sqlserver
    type: io.kestra.plugin.jdbc.sqlserver.Queries
    sql: |
      CREATE DATABASE deb;

  - id: enable_cdc
    type: io.kestra.plugin.jdbc.sqlserver.Queries
    sql: |
      USE deb;
      EXEC sys.sp_cdc_enable_db;
      DROP TABLE IF EXISTS dbo.events;
      CREATE TABLE dbo.events (
        events_id INT,
        event_title VARCHAR(256),
        event_description VARCHAR(256),
        PRIMARY KEY (events_id)
      );
      INSERT INTO dbo.events VALUES (1,'Machine Head','Cool concert');
      INSERT INTO dbo.events VALUES (2,'Dropkick Murphys','Very cool concert');
      INSERT INTO dbo.events VALUES (3,'Pink Floyd','Cool');
      INSERT INTO dbo.events VALUES (4,'TV show','Some TV');
      INSERT INTO dbo.events VALUES (5,'Nothing','Boring');

  - id: capture
    type: io.kestra.plugin.debezium.sqlserver.Capture
    hostname: localhost
    port: "{{ outputs.port.value }}"
    username: sa
    password: "Sqls3rv3r_Pa55word!"
    database: deb
    snapshotMode: INITIAL_ONLY
    maxRecords: 5
    maxWait: PT30S
    includedTables:
      - dbo.events
    properties:
      database.encrypt: "false"

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.capture.size >= 5 }}"

finally:
  - id: stop_sqlserver
    type: io.kestra.plugin.docker.Stop
    containerId: "{{ outputs.start_sqlserver.taskRunner.containerId }}"
    kill: true

pluginDefaults:
  - type: io.kestra.plugin.jdbc.sqlserver
    values:
      username: sa
      password: "Sqls3rv3r_Pa55word!"
      url: "jdbc:sqlserver://localhost:{{ outputs.port.value }};databaseName=master;encrypt=true;trustServerCertificate=true"
