plugin-debezium-sqlserver/src/test/resources/sanity-checks/sqlserver-capture.yaml
id: sqlserver-capture
namespace: sanitychecks.plugin-debezium-sqlserver

tasks:
  - id: start_sqlserver
    type: io.kestra.plugin.docker.Run
    containerImage: mcr.microsoft.com/mssql/server:2019-latest
    wait: false
    portBindings:
      - "11433:1433"
    env:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Sqls3rv3r_Pa55word!"

  - id: init_sqlserver
    type: io.kestra.plugin.docker.Run
    containerImage: mcr.microsoft.com/mssql/server:2019-latest
    extraHosts:
      - "host.docker.internal:host-gateway"
    entryPoint:
      - /bin/bash
    commands:
      - -c
      - |
        export PATH="$PATH:/opt/mssql-tools18/bin:/opt/mssql-tools/bin"
        until sqlcmd -S host.docker.internal,11433 -U sa -P "Sqls3rv3r_Pa55word!" -No -Q "SELECT 1" >/dev/null 2>&1; do sleep 3; done
        sqlcmd -S host.docker.internal,11433 -U sa -P "Sqls3rv3r_Pa55word!" -No -Q "CREATE DATABASE deb;"
        sqlcmd -S host.docker.internal,11433 -U sa -P "Sqls3rv3r_Pa55word!" -No -Q "USE deb; EXEC sys.sp_cdc_enable_db;"
        sqlcmd -S host.docker.internal,11433 -U sa -P "Sqls3rv3r_Pa55word!" -No -Q "USE deb; DROP TABLE IF EXISTS dbo.events; CREATE TABLE dbo.events (events_id INT, event_title VARCHAR(256), event_description VARCHAR(256), PRIMARY KEY (events_id)); INSERT INTO dbo.events VALUES (1,'Machine Head','Cool concert'),(2,'Dropkick Murphys','Very cool concert'),(3,'Pink Floyd','Cool'),(4,'TV show','Some TV'),(5,'Nothing','Boring');"

  - id: capture
    type: io.kestra.plugin.debezium.sqlserver.Capture
    hostname: host.docker.internal
    port: "11433"
    username: sa
    password: "Sqls3rv3r_Pa55word!"
    database: deb
    snapshotMode: INITIAL_ONLY
    maxRecords: 5
    maxWait: PT30S
    includedTables:
      - dbo.events
    properties:
      database.encrypt: "false"

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.capture.size >= 5 }}"

finally:
  - id: stop_sqlserver
    type: io.kestra.plugin.docker.Stop
    containerId: "{{ outputs.start_sqlserver.taskRunner.containerId }}"
    kill: true
