plugin-debezium-oracle/src/test/resources/sanity-checks/oracle-capture.yaml
id: oracle-capture
namespace: sanitychecks.plugin-debezium-oracle

tasks:
  - id: start_oracle
    type: io.kestra.plugin.scripts.shell.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    script: |
      docker rm -f oracle-sanity 2>/dev/null || true
      docker run -d --name oracle-sanity \
        -e ORACLE_PASSWORD=passwd \
        -e APP_USER=kestra \
        -e APP_USER_PASSWORD=passwd \
        -p 11521:1521 \
        gvenzl/oracle-xe:21-full
      until [ "$(docker inspect --format='{{.State.Health.Status}}' oracle-sanity 2>/dev/null)" = "healthy" ]; do sleep 10; done
      docker exec oracle-sanity sqlplus sys/passwd@XE as sysdba <<'SQL'
      ALTER DATABASE ADD SUPPLEMENTAL LOG DATA (ALL) COLUMNS;
      ALTER PROFILE DEFAULT LIMIT FAILED_LOGIN_ATTEMPTS UNLIMITED;
      CREATE TABLESPACE LOGMINER_TBS DATAFILE '/opt/oracle/oradata/XE/logminer_tbs.dbf' SIZE 25M REUSE AUTOEXTEND ON MAXSIZE UNLIMITED;
      create user c##dbzuser identified by dbz default tablespace LOGMINER_TBS QUOTA UNLIMITED ON LOGMINER_TBS CONTAINER=ALL;
      GRANT CREATE SESSION TO c##dbzuser CONTAINER=ALL;
      GRANT SET CONTAINER TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ON V_$DATABASE TO c##dbzuser CONTAINER=ALL;
      GRANT FLASHBACK ANY TABLE TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ANY TABLE TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT_CATALOG_ROLE TO c##dbzuser CONTAINER=ALL;
      GRANT EXECUTE_CATALOG_ROLE TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ANY TRANSACTION TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ANY DICTIONARY TO c##dbzuser CONTAINER=ALL;
      GRANT LOGMINING TO c##dbzuser CONTAINER=ALL;
      GRANT CREATE TABLE TO c##dbzuser CONTAINER=ALL;
      GRANT LOCK ANY TABLE TO c##dbzuser CONTAINER=ALL;
      GRANT CREATE SEQUENCE TO c##dbzuser CONTAINER=ALL;
      GRANT EXECUTE ON DBMS_LOGMNR TO c##dbzuser CONTAINER=ALL;
      GRANT EXECUTE ON DBMS_LOGMNR_D TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ON V_$LOG TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ON V_$LOG_HISTORY TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ON V_$LOGMNR_LOGS TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ON V_$LOGMNR_CONTENTS TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ON V_$LOGMNR_PARAMETERS TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ON V_$LOGFILE TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ON V_$ARCHIVED_LOG TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ON V_$ARCHIVE_DEST_STATUS TO c##dbzuser CONTAINER=ALL;
      GRANT SELECT ON V_$TRANSACTION TO c##dbzuser CONTAINER=ALL;
      exit;
      SQL
      docker exec oracle-sanity sqlplus kestra/passwd@XE <<'SQL'
      CREATE TABLE events (events_id NUMBER, event_title VARCHAR2(256), event_description VARCHAR2(256), PRIMARY KEY (events_id));
      INSERT INTO events VALUES (1, 'Machine Head', 'Cool concert');
      INSERT INTO events VALUES (2, 'Dropkick Murphys', 'Very cool concert');
      INSERT INTO events VALUES (3, 'Pink Floyd', 'Cool');
      INSERT INTO events VALUES (4, 'TV show', 'Some TV');
      INSERT INTO events VALUES (5, 'Nothing', 'Boring');
      COMMIT;
      exit;
      SQL

  - id: capture
    type: io.kestra.plugin.debezium.oracle.Capture
    hostname: 127.0.0.1
    port: "11521"
    username: c##dbzuser
    password: dbz
    sid: XE
    snapshotMode: INITIAL_ONLY
    maxRecords: 5
    maxWait: PT30S
    includedTables: KESTRA.EVENTS

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.capture.size >= 5 }}"

  - id: stop_oracle
    type: io.kestra.plugin.scripts.shell.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    script: |
      docker rm -f oracle-sanity 2>/dev/null || true

errors:
  - id: stop_oracle_on_error
    type: io.kestra.plugin.scripts.shell.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    script: |
      docker rm -f oracle-sanity 2>/dev/null || true
