plugin-debezium-oracle/src/test/resources/sanity-checks/oracle-capture.yaml
id: oracle-capture
namespace: sanitychecks.plugin-debezium-oracle

tasks:
  - id: start_oracle
    type: io.kestra.plugin.docker.Run
    containerImage: gvenzl/oracle-xe:21-full
    wait: false
    env:
      ORACLE_PASSWORD: passwd
      APP_USER: kestra
      APP_USER_PASSWORD: passwd

  - id: init_oracle
    type: io.kestra.plugin.docker.Run
    containerImage: gvenzl/oracle-xe:21-full
    networkMode: "container:{{ outputs.start_oracle.taskRunner.containerId }}"
    entryPoint:
      - /bin/sh
    commands:
      - -c
      - |
        until echo "EXIT" | sqlplus -L sys/passwd@//127.0.0.1:1521/XE as sysdba 2>/dev/null | grep -q "Connected to"; do
          echo "Waiting for Oracle..."
          sleep 15
        done
        sqlplus -S sys/passwd@//127.0.0.1:1521/XE as sysdba <<'ENDSQL'
        ALTER DATABASE ADD SUPPLEMENTAL LOG DATA (ALL) COLUMNS;
        ALTER PROFILE DEFAULT LIMIT FAILED_LOGIN_ATTEMPTS UNLIMITED;
        CREATE TABLESPACE LOGMINER_TBS DATAFILE '/opt/oracle/oradata/XE/logminer_tbs.dbf' SIZE 25M REUSE AUTOEXTEND ON MAXSIZE UNLIMITED;
        CREATE USER c##dbzuser IDENTIFIED BY dbz DEFAULT TABLESPACE LOGMINER_TBS QUOTA UNLIMITED ON LOGMINER_TBS CONTAINER=ALL;
        GRANT CREATE SESSION TO c##dbzuser CONTAINER=ALL;
        GRANT SET CONTAINER TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ON V_$DATABASE TO c##dbzuser CONTAINER=ALL;
        GRANT FLASHBACK ANY TABLE TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ANY TABLE TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT_CATALOG_ROLE TO c##dbzuser CONTAINER=ALL;
        GRANT EXECUTE_CATALOG_ROLE TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ANY TRANSACTION TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ANY DICTIONARY TO c##dbzuser CONTAINER=ALL;
        GRANT LOGMINING TO c##dbzuser CONTAINER=ALL;
        GRANT CREATE TABLE TO c##dbzuser CONTAINER=ALL;
        GRANT LOCK ANY TABLE TO c##dbzuser CONTAINER=ALL;
        GRANT CREATE SEQUENCE TO c##dbzuser CONTAINER=ALL;
        GRANT EXECUTE ON DBMS_LOGMNR TO c##dbzuser CONTAINER=ALL;
        GRANT EXECUTE ON DBMS_LOGMNR_D TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ON V_$LOG TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ON V_$LOG_HISTORY TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ON V_$LOGMNR_LOGS TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ON V_$LOGMNR_CONTENTS TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ON V_$LOGMNR_PARAMETERS TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ON V_$LOGFILE TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ON V_$ARCHIVED_LOG TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ON V_$ARCHIVE_DEST_STATUS TO c##dbzuser CONTAINER=ALL;
        GRANT SELECT ON V_$TRANSACTION TO c##dbzuser CONTAINER=ALL;
        EXIT;
        ENDSQL
        sqlplus -S kestra/passwd@//127.0.0.1:1521/XE <<'ENDSQL'
        DROP TABLE events;
        CREATE TABLE events (events_id NUMBER, event_title VARCHAR2(256), event_description VARCHAR2(256), PRIMARY KEY (events_id));
        INSERT INTO events VALUES (1, 'Machine Head', 'Cool concert');
        INSERT INTO events VALUES (2, 'Dropkick Murphys', 'Very cool concert');
        INSERT INTO events VALUES (3, 'Pink Floyd', 'Cool');
        INSERT INTO events VALUES (4, 'TV show', 'Some TV');
        INSERT INTO events VALUES (5, 'Nothing', 'Boring');
        COMMIT;
        EXIT;
        ENDSQL
        hostname -I | awk '{print $1}' | tr -d '\n' > host.txt
    outputFiles:
      - host.txt

  - id: capture
    type: io.kestra.plugin.debezium.oracle.Capture
    hostname: "{{ read(outputs.init_oracle.outputFiles['host.txt']) }}"
    port: "1521"
    username: c##dbzuser
    password: dbz
    sid: XE
    snapshotMode: INITIAL_ONLY
    maxRecords: 5
    maxWait: PT30S
    includedTables: KESTRA.EVENTS

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.capture.size >= 5 }}"

finally:
  - id: stop_oracle
    type: io.kestra.plugin.docker.Stop
    containerId: "{{ outputs.start_oracle.taskRunner.containerId }}"
    kill: true
